<div class="text-center">
    <h1 class="display-4">Submit a word!</h1>

    <form method="post" asp-controller="Home" asp-action="Submit">
        <div class="form-group">
            <label for="word">word:</label>
            <input type="password" name="word" class="form-control"/>
        </div>

        <input type="submit" class="btn btn-primary" value="Start game"/>
    </form>
</div>
